<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.bilnoski.recipebook.internal.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bilnoski.recipebook.ui.CookbookPerspective"
            fixed="false"
            id="net.bilnoski.recipebook.cookbook.perspective"
            name="Cookbook">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bilnoski.recipebook.cookbook.category"
            name="Cookbook">
      </category>
      <view
            allowMultiple="true"
            category="net.bilnoski.recipebook.cookbook.category"
            class="net.bilnoski.recipebook.ui.RecipeExplorerView"
            id="net.bilnoski.recipebook.views.explorer"
            name="Recipe Explorer"
            restorable="true">
      </view>
      <view
            name="Progress View"
            icon="images/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            allowMultiple="false"
            category="net.bilnoski.recipebook.cookbook.category"
            class="net.bilnoski.recipebook.ui.RecipeLabelsView"
            id="net.bilnoski.recipebook.views.labels"
            name="Recipe Labels"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bilnoski.recipebook.application"
            name="Recipe Book">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Recipe Book">
         </property>
         <property
               name="startupProgressRect"
               value="7,275,440,10">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,460,400,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.bilnoski.recipebook.cookbook.perspective">
         <viewShortcut
               id="net.bilnoski.recipebook.views.explorer">
         </viewShortcut>
         <viewShortcut
               id="net.bilnoski.recipebook.views.labels">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
